In [110]:
import pandas as pd
import numpy as np

# Data Exploration

In [111]:
data_identification_df = pd.read_csv("data_identification.csv")
data_identification_df

         tweet_id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [112]:
emotions_df = pd.read_csv("emotion.csv")
emotions_df

         tweet_id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [113]:
tweets_df = pd.read_json('tweets_DM.json',lines=True)

In [114]:
tweets_df

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets
...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets

## No missing values:

In [115]:
def check_missing_values(row):
    counter = 0
    for element in row:
        if element == True:
            counter+=1
    return ("The amoung of missing records is: ", counter)

In [116]:
tweets_df.isnull().apply(lambda x: check_missing_values(x))

,_score,_index,_source,_crawldate,_type
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,0,0,0

In [117]:
emotions_df.isnull().apply(lambda x: check_missing_values(x))

                             tweet_id                             emotion
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   0

In [118]:
data_identification_df.isnull().apply(lambda x: check_missing_values(x))

                             tweet_id                      identification
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   0

In [119]:
tweets_df.head()

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets

In [120]:
unique_tweets = tweets_df["_score"].nunique()
(unique_tweets)

1024

# Joining tables

## Creating new features in tweets_df:

In [121]:
#Create a column in "tweets_df" with the extracted tweet_id from _source column:

In [122]:
tweets_df.iloc[5000]['_source']
#We can treat this as a dictionary within a dictionary:

{'tweet': {'hashtags': ['beer', 'benjaminfranklin'],
  'tweet_id': '0x2ff708',
  'text': '"Beer is proof that God loves us and wants us to be happy" - Benjamin Franklin  #beer <LH> #benjaminfranklin'}}

In [123]:
#Testing:  (to get tweets_id)

# The only key of the large dictionary of every row in _source is 'tweet'. From here we get a subdictionary, with keys
# hashtags, tweet_id, and text:

one_row = tweets_df.iloc[5000]['_source']  #grab only 1 row to test
new_dict = one_row['tweet']  

#Use the subkey found, tweet_id, to get the feature needed:
print(new_dict['tweet_id'])

#---------------------------------------------------------------

#def to get tweet_id from dictionary within a dictionary:
def get_tweet_id(row):
    return row['tweet']['tweet_id']

#def to get text from dictionary within a dictionary:
def get_text(row):
    return row['tweet']['text']

0x2ff708

In [124]:
tweets_df['tweet_id'] = tweets_df._source.apply(lambda x: get_tweet_id(x))
tweets_df['text'] = tweets_df._source.apply(lambda x: get_text(x))
tweets_df

,_score,_index,_source,_crawldate,_type,tweet_id,text
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets,0x376b20,"People who post ""add me on #Snapchat"" must be ..."
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets,0x2d5350,"@brianklaas As we see, Trump is dangerous to #..."
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets,0x28b412,"Confident of your obedience, I write to you, k..."
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets,0x2de201,"""Trust is not the same as faith. A friend is s..."
...,...,...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets,0x316b80,When you buy the last 2 tickets remaining for ...
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets,0x29d0cb,I swear all this hard work gone pay off one da...
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets,0x2a6a4f,@Parcel2Go no card left when I wasn't in so I ...
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets,0x24faed,"Ah, corporate life, where you can date <LH> us..."
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets,0x34be8c,Blessed to be living #Sundayvibes <LH>

In [125]:
twitter_data = tweets_df[["_score","tweet_id","text"]]

In [126]:
twitter_data

         _score  tweet_id                                               text
0           391  0x376b20  People who post "add me on #Snapchat" must be ...
1           433  0x2d5350  @brianklaas As we see, Trump is dangerous to #...
2           232  0x28b412  Confident of your obedience, I write to you, k...
3           376  0x1cd5b0                Now ISSA is stalking Tasha 😂😂😂 <LH>
4           989  0x2de201  "Trust is not the same as faith. A friend is s...
...         ...       ...                                                ...
1867530     827  0x316b80  When you buy the last 2 tickets remaining for ...
1867531     368  0x29d0cb  I swear all this hard work gone pay off one da...
1867532     498  0x2a6a4f  @Parcel2Go no card left when I wasn't in so I ...
1867533     840  0x24faed  Ah, corporate life, where you can date <LH> us...
1867534     360  0x34be8c             Blessed to be living #Sundayvibes <LH>

[1867535 rows x 3 columns]

## Joining with data_identification_df:

In [127]:
#With the new dataset that we obtained, now we join first with the data_identification_df:
twitter_data = twitter_data.merge(data_identification_df, how='inner')

In [128]:
print(len(twitter_data), twitter_data.tweet_id.nunique())
# Unique twitter IDs are equal to length of dataset so, no 2 IDs repeat:

1867535 1867535

In [129]:
twitter_data.identification.unique()

array(['train', 'test'], dtype=object)

In [130]:
twitter_data.head()

,_score,tweet_id,text,identification
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train
2,232,0x28b412,"Confident of your obedience, I write to you, k...",test
3,376,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>,train
4,989,0x2de201,"""Trust is not the same as faith. A friend is s...",test

## Dividing into train and test:

In [131]:
# This dataset will be use to further divide it intro another training, validation, and test data.
twitter_train = twitter_data[twitter_data['identification']== "train"].reset_index()
twitter_train

,index,_score,tweet_id,text,identification
0,0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train
1,1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train
2,3,376,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>,train
3,5,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train
4,6,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train
...,...,...,...,...,...
1455558,1867526,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train
1455559,1867527,627,0x38959e,In every circumtance I'd like to be thankful t...,train
1455560,1867528,274,0x2cbca6,there's currently two girls walking around the...,train
1455561,1867533,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train
1455562,1867534,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train

In [132]:
#This one will only be used to predict:
twitter_test = twitter_data[twitter_data['identification']== "test"].reset_index()
twitter_test = twitter_test.drop("index", axis = 1)
twitter_test

,_score,tweet_id,text,identification
0,232,0x28b412,"Confident of your obedience, I write to you, k...",test
1,989,0x2de201,"""Trust is not the same as faith. A friend is s...",test
2,66,0x218443,When do you have enough ? When are you satisfi...,test
3,104,0x2939d5,"God woke you up, now chase the day #GodsPlan #...",test
4,310,0x26289a,"In these tough times, who do YOU turn to as yo...",test
...,...,...,...,...
411967,602,0x2913b4,"""For this is the message that ye heard from th...",test
411968,598,0x2a980e,"""There is a lad here, which hath five barley l...",test
411969,827,0x316b80,When you buy the last 2 tickets remaining for ...,test
411970,368,0x29d0cb,I swear all this hard work gone pay off one da...,test
411971,498,0x2a6a4f,@Parcel2Go no card left when I wasn't in so I ...,test

## Join the resulting "twitter_train" with the emotions_df

In [133]:
final_twitter_df = twitter_train.merge(emotions_df, how="inner")
final_twitter_df = final_twitter_df.drop("index",axis = 1)

In [134]:
final_twitter_df
# 1,455,563 rows

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train,anticipation
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train,sadness
2,376,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>,train,fear
3,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train,joy
4,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train,anticipation
...,...,...,...,...,...
1455558,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train,joy
1455559,627,0x38959e,In every circumtance I'd like to be thankful t...,train,joy
1455560,274,0x2cbca6,there's currently two girls walking around the...,train,joy
1455561,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train,joy
1455562,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train,joy

In [135]:
final_twitter_df.emotion.unique()

array(['anticipation', 'sadness', 'fear', 'joy', 'anger', 'trust',
       'disgust', 'surprise'], dtype=object)

## Deleting duplicated values:

In [136]:
#Duplicated values:
print(sum(final_twitter_df.text.duplicated()))
print(sum(final_twitter_df.tweet_id.duplicated()))

3785
0

In [137]:
#Count the table before deleting duplicates:
before_deleting_duplicates = len(final_twitter_df)

# These are the tweets that most likely were sent twice by the user by accident:
final_twitter_df[final_twitter_df.duplicated('text')].sort_values('text',axis=0)

,_score,tweet_id,text,identification,emotion
1238903,1018,0x2dde6b,"""A coward is incapable of exhibiting love; it ...",train,joy
1028251,899,0x2909e1,"""A family can develop only with a loving woman...",train,joy
397639,954,0x272113,"""A poem begins as a lump in the throat, a sens...",train,joy
590230,895,0x236961,"""A woman can be anything the man who loves her...",train,joy
1346054,682,0x22a8b0,"""Absence - that common cure of love."" <LH> <LH...",train,joy
...,...,...,...,...,...
1338823,577,0x338bed,“And he awoke and rebuked the wind and said to...,train,joy
747335,524,0x2e030b,“Everyone prays in the end” <LH> @samsmithworld,train,anticipation
1267175,565,0x24ca3c,"“Give thanks to the Lord, for he is good; his ...",train,trust
672023,131,0x22975e,"☀️Good Morning World ☀️ Rise-N-Grind, it's⌚to ...",train,trust
1319695,927,0x325a60,❤🌻like🌻 ❤🌻 share🌻 ❤ 🌻Comment🌻 #life <LH> <LH>,train,joy

In [138]:
# For example:
final_twitter_df.iloc[1238903]['text'], final_twitter_df.iloc[597627]['text']

('"A coward is incapable of exhibiting love; it is the prerogative of the brave." <LH> <LH> <LH> <LH>',
 '"A coward is incapable of exhibiting love; it is the prerogative of the brave." <LH> <LH> <LH> <LH>')

In [139]:
final_twitter_df.drop_duplicates(subset ="text",keep= "first", inplace = True)
print("Duplicates deleted: ", before_deleting_duplicates - len(final_twitter_df))

Duplicates deleted:  3785

In [140]:
final_twitter_df.reset_index(drop=True, inplace=True)

In [141]:
final_twitter_df.columns

Index(['_score', 'tweet_id', 'text', 'identification', 'emotion'], dtype='object')

In [142]:
final_twitter_df

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train,anticipation
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train,sadness
2,376,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>,train,fear
3,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train,joy
4,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train,anticipation
...,...,...,...,...,...
1451773,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train,joy
1451774,627,0x38959e,In every circumtance I'd like to be thankful t...,train,joy
1451775,274,0x2cbca6,there's currently two girls walking around the...,train,joy
1451776,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train,joy
1451777,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train,joy

### Clean Text

In [143]:
import re
import string

In [144]:
def clean(text):
    text = text.lower()
    text = text.replace('<lh>',"") #AC told me dumb
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub('\n', '', text)
    return text

In [145]:
final_twitter_df.text = final_twitter_df.text.apply(clean)
final_twitter_df.iloc[0].text

'people who post add me on snapchat must be dehydrated cuz man thats '

In [146]:
final_twitter_df[final_twitter_df.text == ""]

         _score  tweet_id text identification emotion
2173        234  0x260518               train     joy
4157        215  0x38cea2               train   trust
6598        970  0x255680               train     joy
13234       332  0x343e48               train     joy
15604        38  0x1ea04a               train     joy
...         ...       ...  ...            ...     ...
1423576     901  0x2f5326               train     joy
1426238     309  0x332e48               train   trust
1427308     804  0x2bff95               train     joy
1434859     954  0x2cfe7f               train     joy
1448888     783  0x302a87               train     joy

[341 rows x 5 columns]

In [147]:
i = final_twitter_df[final_twitter_df.text == ""].index
final_twitter_df.drop(i, axis = 0, inplace = True)
final_twitter_df = final_twitter_df.reset_index()
final_twitter_df.drop(['index'],axis = 1, inplace = True)
final_twitter_df

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,people who post add me on snapchat must be deh...,train,anticipation
1,433,0x2d5350,brianklaas as we see trump is dangerous to fre...,train,sadness
2,376,0x1cd5b0,now issa is stalking tasha 😂😂😂,train,fear
3,120,0x1d755c,riskshow thekevinallison thx for the best time...,train,joy
4,1021,0x2c91a8,still waiting on those supplies liscus,train,anticipation
...,...,...,...,...,...
1451432,94,0x321566,im so happy nowonder the name of this show hap...,train,joy
1451433,627,0x38959e,in every circumtance id like to be thankful to...,train,joy
1451434,274,0x2cbca6,theres currently two girls walking around the ...,train,joy
1451435,840,0x24faed,ah corporate life where you can date using ju...,train,joy
1451436,360,0x34be8c,blessed to be living sundayvibes,train,joy

#### Stemmer

In [150]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

def stemming(sentence):
    ps = PorterStemmer()
    words = word_tokenize(sentence)
    res = []
    for w in words:
        res.append(ps.stem(w))
    return ' '.join(res)

Wall time: 0 ns

In [151]:
%%time
final_twitter_df['text_stemmed'] = final_twitter_df.text.apply(stemming)
final_twitter_df

,_score,tweet_id,text,identification,emotion,text_stemmed
0,391,0x376b20,people who post add me on snapchat must be deh...,train,anticipation,peopl who post add me on snapchat must be dehy...
1,433,0x2d5350,brianklaas as we see trump is dangerous to fre...,train,sadness,brianklaa as we see trump is danger to freepre...
2,376,0x1cd5b0,now issa is stalking tasha 😂😂😂,train,fear,now issa is stalk tasha 😂😂😂
3,120,0x1d755c,riskshow thekevinallison thx for the best time...,train,joy,riskshow thekevinallison thx for the best time...
4,1021,0x2c91a8,still waiting on those supplies liscus,train,anticipation,still wait on those suppli liscu
...,...,...,...,...,...,...
1451432,94,0x321566,im so happy nowonder the name of this show hap...,train,joy,im so happi nowond the name of thi show happi ...
1451433,627,0x38959e,in every circumtance id like to be thankful to...,train,joy,in everi circumt id like to be thank to the al...
1451434,274,0x2cbca6,theres currently two girls walking around the ...,train,joy,there current two girl walk around the librari...
1451435,840,0x24faed,ah corporate life where you can date using ju...,train,joy,ah corpor life where you can date use just the...
1451436,360,0x34be8c,blessed to be living sundayvibes,train,joy,bless to be live sundayvib

In [152]:
def categorize_emotions(emotion):
    if(emotion == "fear"):
        return 1
    if(emotion == "trust"):
        return 2
    if(emotion == "anger"):
        return 3
    if(emotion == "anticipation"):
        return 4
    if(emotion == "surprise"):
        return 5
    if(emotion == "disgust"):
        return 6
    if(emotion == "joy"):
        return 7
    if(emotion == "sadness"):
        return 8
    
final_twitter_df['Category'] = final_twitter_df.emotion.apply(lambda x: categorize_emotions(x))

In [153]:
final_twitter_df

,_score,tweet_id,text,identification,emotion,text_stemmed,Category
0,391,0x376b20,people who post add me on snapchat must be deh...,train,anticipation,peopl who post add me on snapchat must be dehy...,4
1,433,0x2d5350,brianklaas as we see trump is dangerous to fre...,train,sadness,brianklaa as we see trump is danger to freepre...,8
2,376,0x1cd5b0,now issa is stalking tasha 😂😂😂,train,fear,now issa is stalk tasha 😂😂😂,1
3,120,0x1d755c,riskshow thekevinallison thx for the best time...,train,joy,riskshow thekevinallison thx for the best time...,7
4,1021,0x2c91a8,still waiting on those supplies liscus,train,anticipation,still wait on those suppli liscu,4
...,...,...,...,...,...,...,...
1451432,94,0x321566,im so happy nowonder the name of this show hap...,train,joy,im so happi nowond the name of thi show happi ...,7
1451433,627,0x38959e,in every circumtance id like to be thankful to...,train,joy,in everi circumt id like to be thank to the al...,7
1451434,274,0x2cbca6,theres currently two girls walking around the ...,train,joy,there current two girl walk around the librari...,7
1451435,840,0x24faed,ah corporate life where you can date using ju...,train,joy,ah corpor life where you can date use just the...,7
1451436,360,0x34be8c,blessed to be living sundayvibes,train,joy,bless to be live sundayvib,7

### Shuffle:

In [154]:
#Transform the dataframe into arrays for shuffling:

unshuffle_data = final_twitter_df.iloc[:,:].to_numpy()
#unshuffled_inputs

In [155]:
unshuffle_data

array([[391, '0x376b20',
        'people who post add me on snapchat must be dehydrated cuz man thats ',
        ..., 'anticipation',
        'peopl who post add me on snapchat must be dehydr cuz man that',
        4],
       [433, '0x2d5350',
        'brianklaas as we see trump is dangerous to freepress around the world what a   trumplegacy  cnn',
        ..., 'sadness',
        'brianklaa as we see trump is danger to freepress around the world what a trumplegaci cnn',
        8],
       [376, '0x1cd5b0', 'now issa is stalking tasha 😂😂😂 ', ..., 'fear',
        'now issa is stalk tasha 😂😂😂', 1],
       ...,
       [274, '0x2cbca6',
        'theres currently two girls walking around the library just handing out red bulls  blessyou',
        ..., 'joy',
        'there current two girl walk around the librari just hand out red bull blessyou',
        7],
       [840, '0x24faed',
        'ah corporate life where you can date  using just the relative anachronism of the last job title that updated it',
        ..., 'joy',
        'ah corpor life where you can date use just the rel anachron of the last job titl that updat it',
        7],
       [360, '0x34be8c', 'blessed to be living sundayvibes ', ..., 'joy',
        'bless to be live sundayvib', 7]], dtype=object)

In [156]:
final_twitter_df.text.shape[0] , unshuffle_data.shape[0]

(1451437, 1451437)

In [157]:
#Shuffle the data before balancing it:

first_shuffle_indices = np.arange(unshuffle_data.shape[0])
np.random.shuffle(first_shuffle_indices)

shuffle_data = unshuffle_data[first_shuffle_indices]
shuffle_data

array([[852, '0x1e10a8', ' birthday cara', ..., 'joy', 'birthday cara',
        7],
       [653, '0x28fd66',
        'everytime when people comment shit on nyovests success i got confused  casspernyovest',
        ..., 'sadness',
        'everytim when peopl comment shit on nyovest success i got confus casspernyovest',
        8],
       [349, '0x2fa465',
        'wtf is taemin doing video for thirsty should be  taemin  pregnant blind shinee',
        ..., 'anticipation',
        'wtf is taemin do video for thirsti should be taemin pregnant blind shine',
        4],
       ...,
       [175, '0x1da3e9',
        'the greatest gift you can give someone is your time   and attention',
        ..., 'joy',
        'the greatest gift you can give someon is your time and attent',
        7],
       [172, '0x2e3d02',
        ' been feeling  wsadness not   workout or stay in the sauna but managed  i gotta justdoit ',
        ..., 'trust',
        'been feel wsad not workout or stay in the sauna but manag i got ta justdoit',
        2],
       [955, '0x2d7164',
        'my god my god why did you abandon me   said “holyfather keep them safe by the power of your name the name you gave me',
        ..., 'anticipation',
        'my god my god whi did you abandon me said “ holyfath keep them safe by the power of your name the name you gave me',
        4]], dtype=object)

In [158]:
#To return the array into a Dataframe
#"""
data_df = pd.DataFrame(shuffle_data)
final_twitter_df.columns = ['_score', 'tweet_id', 'text', 'identification', 'emotion','text_stemmed','Category']
final_twitter_df
#"""

,_score,tweet_id,text,identification,emotion,text_stemmed,Category
0,391,0x376b20,people who post add me on snapchat must be deh...,train,anticipation,peopl who post add me on snapchat must be dehy...,4
1,433,0x2d5350,brianklaas as we see trump is dangerous to fre...,train,sadness,brianklaa as we see trump is danger to freepre...,8
2,376,0x1cd5b0,now issa is stalking tasha 😂😂😂,train,fear,now issa is stalk tasha 😂😂😂,1
3,120,0x1d755c,riskshow thekevinallison thx for the best time...,train,joy,riskshow thekevinallison thx for the best time...,7
4,1021,0x2c91a8,still waiting on those supplies liscus,train,anticipation,still wait on those suppli liscu,4
...,...,...,...,...,...,...,...
1451432,94,0x321566,im so happy nowonder the name of this show hap...,train,joy,im so happi nowond the name of thi show happi ...,7
1451433,627,0x38959e,in every circumtance id like to be thankful to...,train,joy,in everi circumt id like to be thank to the al...,7
1451434,274,0x2cbca6,theres currently two girls walking around the ...,train,joy,there current two girl walk around the librari...,7
1451435,840,0x24faed,ah corporate life where you can date using ju...,train,joy,ah corpor life where you can date use just the...,7
1451436,360,0x34be8c,blessed to be living sundayvibes,train,joy,bless to be live sundayvib,7

In [162]:
final_twitter_df[final_twitter_df.text_stemmed == ""]

,_score,tweet_id,text,identification,emotion,text_stemmed,Category
12712,497,0x1dbffb,,train,trust,,2
62843,395,0x2af13c,,train,joy,,7
77908,214,0x28cfe0,,train,joy,,7
101618,724,0x369b90,,train,anticipation,,4
136788,478,0x285077,,train,sadness,,8
147947,784,0x1e7cf5,,train,joy,,7
157311,899,0x372423,,train,joy,,7
193745,122,0x3217ff,,train,joy,,7
198763,536,0x200350,,train,anticipation,,4
212820,701,0x316d3d,,train,joy,,7
331131,205,0x31603f,,train,joy,,7
414809,791,0x2dac4e,,train,joy,,7
421891,563,0x1f0e99,,train,joy,,7
437371,48,0x1e7cf6,,train,joy,,7
443618,347,0x3312b7,,train,anticipation,,4
443684,164,0x36935d,,train,anticipation,,4
479458,724,0x3710d9,,train,joy,,7
501904,255,0x312c18,,train,anticipation,,4
509103,193,0x1fc2ab,,train,sadness,,8
512261,185,0x29c4dc,,train,joy,,7
523921,1009,0x298d27,,train,joy,,7
524807,143,0x1cad2b,,train,anticipation,,4
533609,868,0x28660f,,train,joy,,7
533786,504,0x2613b4,,train,trust,,2
550275,387,0x3059cd,,train,joy,,7
584982,919,0x2a6d37,,train,joy,,7
590833,444,0x33f3cd,,train,joy,,7
642856,498,0x2ea359,,train,joy,,7
685054,146,0x2f0afd,,train,joy,,7
738315,998,0x31df55,,train,anticipation,,4
815652,595,0x31f861,,train,anticipation,,4
908783,923,0x310288,,train,joy,,7
912577,252,0x2e8513,,train,joy,,7
1032522,946,0x35dfd7,,train,joy,,7
1082485,857,0x2a7386,,train,sadness,,8
1204998,855,0x3890a7,,train,joy,,7
1229554,991,0x380d8c,,train,anticipation,,4
1253634,1,0x1e770f,,train,joy,,7
1285873,526,0x1f1ba7,,train,anticipation,,4
1340222,480,0x229160,,train,joy,,7
1343729,836,0x32b895,,train,joy,,7
1370620,346,0x2bcc48,,train,joy,,7
1374497,771,0x29003f,,train,disgust,,6
1408586,277,0x1f6397,,train,joy,,7
1412835,897,0x378d2b,,train,joy,,7
1445751,453,0x27498a,,train,joy,,7

In [163]:
i = final_twitter_df[final_twitter_df.text_stemmed == ""].index
final_twitter_df.drop(i, axis = 0, inplace = True)
final_twitter_df = final_twitter_df.reset_index()
final_twitter_df.drop(['index'],axis = 1, inplace = True)
final_twitter_df

,_score,tweet_id,text,identification,emotion,text_stemmed,Category
0,391,0x376b20,people who post add me on snapchat must be deh...,train,anticipation,peopl who post add me on snapchat must be dehy...,4
1,433,0x2d5350,brianklaas as we see trump is dangerous to fre...,train,sadness,brianklaa as we see trump is danger to freepre...,8
2,376,0x1cd5b0,now issa is stalking tasha 😂😂😂,train,fear,now issa is stalk tasha 😂😂😂,1
3,120,0x1d755c,riskshow thekevinallison thx for the best time...,train,joy,riskshow thekevinallison thx for the best time...,7
4,1021,0x2c91a8,still waiting on those supplies liscus,train,anticipation,still wait on those suppli liscu,4
...,...,...,...,...,...,...,...
1451386,94,0x321566,im so happy nowonder the name of this show hap...,train,joy,im so happi nowond the name of thi show happi ...,7
1451387,627,0x38959e,in every circumtance id like to be thankful to...,train,joy,in everi circumt id like to be thank to the al...,7
1451388,274,0x2cbca6,theres currently two girls walking around the ...,train,joy,there current two girl walk around the librari...,7
1451389,840,0x24faed,ah corporate life where you can date using ju...,train,joy,ah corpor life where you can date use just the...,7
1451390,360,0x34be8c,blessed to be living sundayvibes,train,joy,bless to be live sundayvib,7

### Save the CSV before balancing (to try with unbalanced data)

In [164]:
final_twitter_df.to_csv("final_dataset.csv",index=False)

In [165]:
#uploading another CSV but with only scores > 200?:

final_twitter_df_200up = final_twitter_df[final_twitter_df["_score"]>=612]
final_twitter_df_200up

,_score,tweet_id,text,identification,emotion,text_stemmed,Category
4,1021,0x2c91a8,still waiting on those supplies liscus,train,anticipation,still wait on those suppli liscu,4
6,827,0x249c0c,dstvngcare dstvng more highlights are being sh...,train,sadness,dstvngcare dstvng more highlight are be shown ...,8
7,631,0x359db9,the ssm debate a manufactured fantasy used to...,train,anticipation,the ssm debat a manufactur fantasi use to dist...,4
8,839,0x23b037,i love suffering 🙃🙃 i love when valium does no...,train,joy,i love suffer 🙃🙃 i love when valium doe noth t...,7
10,887,0x37a0a9,you know you research butterflies when predict...,train,joy,you know you research butterfli when predict t...,7
...,...,...,...,...,...,...,...
1451375,701,0x2e4306,bussin our another today 😩🤑🙌🏾,train,anticipation,bussin our anoth today 😩🤑🙌🏾,4
1451380,980,0x27af90,everyone is so pleasently unlikable af as of n...,train,fear,everyon is so pleasent unlik af as of now 🤗 in...,1
1451385,986,0x30cc9c,waking up with only a slight headache after bl...,train,joy,wake up with onli a slight headach after black...,7
1451387,627,0x38959e,in every circumtance id like to be thankful to...,train,joy,in everi circumt id like to be thank to the al...,7
1451389,840,0x24faed,ah corporate life where you can date using ju...,train,joy,ah corpor life where you can date use just the...,7

In [166]:
final_twitter_df_200up.to_csv("greater_than_some_score.csv",index=False)

# This is not necessary? (from here on)

## Balancing the dataset:

In [306]:
emotions = final_twitter_df['emotion'].unique()
for emotion in emotions:
    number = len(final_twitter_df[final_twitter_df['emotion']==emotion])
    porcentage = (number/len(final_twitter_df))*100
    print(f"{emotion} has {number} of elements, making it {porcentage:.2f}% of the dataset")

anticipation has 248695 of elements, making it 17.13% of the dataset
sadness has 193198 of elements, making it 13.31% of the dataset
fear has 63821 of elements, making it 4.40% of the dataset
joy has 514266 of elements, making it 35.42% of the dataset
anger has 39712 of elements, making it 2.74% of the dataset
trust has 204885 of elements, making it 14.11% of the dataset
disgust has 138996 of elements, making it 9.57% of the dataset
surprise has 48205 of elements, making it 3.32% of the dataset

In [135]:
# As we can see the dataset in very unbalanced. This could make our final model to be more precise for the higher emotions
# and to not predict correctly the other emotions.

In [139]:
#Here the balancing begins:

In [140]:
lowest_number = 39712  #this corresponds to the lowest number of items for any given emotion (this case anger)

number_anger, number_anticipation, number_sadness, number_fear = 0, 0, 0, 0
number_joy, number_trust, number_disgust, number_surprise = 0, 0, 0, 0
indices_to_remove = []

for i in range(shuffled_outputs.shape[0]):
    #anticipation:
    if(shuffled_outputs[i]=='anticipation'):
        number_anticipation+= 1
        if(number_anticipation>lowest_number):
            indices_to_remove.append(i)
    #Sadness:
    if(shuffled_outputs[i]=='sadness'):
        number_sadness+= 1
        if(number_sadness>lowest_number):
            indices_to_remove.append(i)
    #Fear
    if(shuffled_outputs[i]=='fear'):
        number_fear+= 1
        if(number_fear>lowest_number):
            indices_to_remove.append(i)
    #Joy
    if(shuffled_outputs[i]=='joy'):
        number_joy+= 1
        if(number_joy>lowest_number):
            indices_to_remove.append(i)
    #Anger
    if(shuffled_outputs[i]=='anger'):
        number_anger+= 1
        if(number_anger>lowest_number):
            indices_to_remove.append(i)
    #Trust
    if(shuffled_outputs[i]=='trust'):
        number_trust+= 1
        if(number_trust>lowest_number):
            indices_to_remove.append(i)
    #Disgust:
    if(shuffled_outputs[i]=='disgust'):
        number_disgust+= 1
        if(number_disgust>lowest_number):
            indices_to_remove.append(i)
    #Surprise:
    if(shuffled_outputs[i]=='surprise'):
        number_surprise+= 1
        if(number_surprise>lowest_number):
            indices_to_remove.append(i)

In [141]:
scaled_inputs = np.delete(shuffled_inputs,indices_to_remove,axis=0)
scaled_outputs = np.delete(shuffled_outputs, indices_to_remove, axis = 0)

In [142]:
len(scaled_inputs), len(scaled_outputs)

(317696, 317696)

In [143]:
#Reshuffle the data:
shuffle_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffle_indices)

re_shuffled_inputs = scaled_inputs[shuffle_indices]
re_shuffled_outputs = scaled_outputs[shuffle_indices]

In [144]:
len(re_shuffled_inputs), len(re_shuffled_outputs)

(317696, 317696)

In [251]:
#To return the array into a Dataframe
#"""
inputs_df = pd.DataFrame(re_shuffled_inputs)
outputs_df =  pd.DataFrame(re_shuffled_outputs)
final_df = pd.concat([inputs_df, outputs_df], axis=1)
final_df.columns = ['_score', 'tweet_id', 'text', 'identification', 'emotion']
final_df
#"""


# You can save this to a CSV and continue working with the model (keras) as in class:

,_score,tweet_id,text,identification,emotion
0,299,0x2e7caf,My #Big3 Sunday lineup = #GirlsTrip. #Power. <...,train,fear
1,784,0x2eff99,There'll #never be a <LH> time than #NOW to <L...,train,trust
2,358,0x3813a3,@Taluuluu RIIIIIIIIIIIIIIIIIGHT 🙄 <LH>,train,anger
3,1021,0x362eaa,39 Never give up on your #dream. <LH> me to ma...,train,anticipation
4,367,0x286e23,@Pearlharper You're the most responsible adult...,train,surprise
...,...,...,...,...,...
317691,887,0x27028e,I better Go Eat Something because I haven't ea...,train,anticipation
317692,574,0x30ffbb,"Russia had no bearing on election,President di...",train,anger
317693,91,0x29ccd4,@artziiflower @BeingSalmanKhan That means...no...,train,sadness
317694,532,0x345ac6,@Talkmaster 78 now in Greenville SC..high of 9...,train,fear
317695,33,0x3812f6,Always going to walk in Gods light watch me sh...,train,anticipation

In [255]:
final_df.text = final_df.text.apply(clean)
final_df.iloc[0].text

'my  sunday lineup  girlstrip power  💪🏾😎'

In [267]:
final_df[final_df.text == ""]

Empty DataFrame
Columns: [level_0, index, _score, tweet_id, text, identification, emotion]
Index: []

In [265]:
i = final_df[final_df.text == ""].index
final_df.drop(i, axis = 0, inplace = True)

In [276]:
final_df = final_df.reset_index()

In [280]:
final_df.drop(['level_0','index'],axis = 1, inplace = True)
final_df

,_score,tweet_id,text,identification,emotion
0,299,0x2e7caf,my sunday lineup girlstrip power 💪🏾😎,train,fear
1,784,0x2eff99,therell never be a time than now to what you...,train,trust
2,358,0x3813a3,taluuluu riiiiiiiiiiiiiiiiight 🙄,train,anger
3,1021,0x362eaa,never give up on your dream me to make your ...,train,anticipation
4,367,0x286e23,pearlharper youre the most responsible adult i...,train,surprise
...,...,...,...,...,...
317658,887,0x27028e,i better go eat something because i havent eat...,train,anticipation
317659,574,0x30ffbb,russia had no bearing on electionpresident did...,train,anger
317660,91,0x29ccd4,artziiflower beingsalmankhan that meansnow u d...,train,sadness
317661,532,0x345ac6,talkmaster now in greenville schigh of enjoy...,train,fear
317662,33,0x3812f6,always going to walk in gods light watch me sh...,train,anticipation

In [292]:
final_df.emotion.unique()

array(['fear', 'trust', 'anger', 'anticipation', 'surprise', 'disgust',
       'joy', 'sadness'], dtype=object)

In [284]:
final_df[final_df.text == ""]

Empty DataFrame
Columns: [_score, tweet_id, text, identification, emotion, Category]
Index: []

In [295]:
final_df

,_score,tweet_id,text,identification,emotion,Category
0,299,0x2e7caf,my sunday lineup girlstrip power 💪🏾😎,train,fear,1
1,784,0x2eff99,therell never be a time than now to what you...,train,trust,2
2,358,0x3813a3,taluuluu riiiiiiiiiiiiiiiiight 🙄,train,anger,3
3,1021,0x362eaa,never give up on your dream me to make your ...,train,anticipation,4
4,367,0x286e23,pearlharper youre the most responsible adult i...,train,surprise,5
...,...,...,...,...,...,...
317658,887,0x27028e,i better go eat something because i havent eat...,train,anticipation,4
317659,574,0x30ffbb,russia had no bearing on electionpresident did...,train,anger,3
317660,91,0x29ccd4,artziiflower beingsalmankhan that meansnow u d...,train,sadness,8
317661,532,0x345ac6,talkmaster now in greenville schigh of enjoy...,train,fear,1
317662,33,0x3812f6,always going to walk in gods light watch me sh...,train,anticipation,4

## Saving to CSV the final dataset:

In [296]:
final_df.to_csv("preprocessed_data.csv",index=False)

In [297]:
twitter_test.to_csv("twitter_test_data.csv",index=False)

## Saving to NPZ to use Tensorflow:

#### Couldn't make it work ont the TesorFlow Test ipynb. Will try with normal dataframe.

In [228]:
import numpy as np
import tensorflow as tf

In [229]:
#Before i used this for splitting the data but i need to transform the texts to numbers better:
x_train = re_shuffled_inputs[:,2:3]
y_train = re_shuffled_outputs

In [230]:
type(re_shuffled_outputs)

numpy.ndarray

In [231]:
y_train

array(['fear', 'trust', 'anger', ..., 'sadness', 'fear', 'anticipation'],
      dtype=object)

In [223]:
#Split data into training, validation, and test

samples_count = x_train.shape[0]

train_samples_count = int(0.7 * samples_count)
validation_samples_count = int(0.2 * samples_count)
test_samples_count = samples_count - train_samples_count - validation_samples_count

train_inputs = x_train[:train_samples_count]
train_targets = y_train[:train_samples_count]

validation_inputs = x_train[train_samples_count:train_samples_count+validation_samples_count]
validation_targets = y_train[train_samples_count:train_samples_count+validation_samples_count]

test_inputs = x_train[train_samples_count+validation_samples_count:]
test_targets = y_train[train_samples_count+validation_samples_count:]

### Save the datasets in *.npz

np.savez('twitter_data_train',inputs=train_inputs, targets = train_targets)
np.savez('twitter_data_validation',inputs=validation_inputs, targets = validation_targets)
np.savez('twitter_data_test',inputs=test_inputs, targets = test_targets)

In [224]:
train_samples_count

222387

In [225]:
twitter_test.head()

,_score,tweet_id,text,identification
0,232,0x28b412,"Confident of your obedience, I write to you, k...",test
1,989,0x2de201,"""Trust is not the same as faith. A friend is s...",test
2,66,0x218443,When do you have enough ? When are you satisfi...,test
3,104,0x2939d5,"God woke you up, now chase the day #GodsPlan #...",test
4,310,0x26289a,"In these tough times, who do YOU turn to as yo...",test

In [226]:
x_test = twitter_test[["tweet_id","text"]]

In [227]:
np.savez('twitter_data_test_for_upload',inputs=x_test)

## Second balancing try: with score in consideration

Here the purpose is to balance based on the lowest scores of each emotion.

In [298]:
final_twitter_df

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train,anticipation
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train,sadness
2,376,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>,train,fear
3,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train,joy
4,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train,anticipation
...,...,...,...,...,...
1451773,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train,joy
1451774,627,0x38959e,In every circumtance I'd like to be thankful t...,train,joy
1451775,274,0x2cbca6,there's currently two girls walking around the...,train,joy
1451776,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train,joy
1451777,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train,joy

In [78]:
sorted_df = final_twitter_df.sort_values(["emotion","_score"],ascending=False)

In [80]:
sorted_df
#39712

,_score,tweet_id,text,identification,emotion
6031,1024,0x37f0f9,having someone who is so positive in my life i...,train,trust
12786,1024,0x389e5b,win or loose raptors made me raptorsvswarriors,train,trust
22659,1024,0x285fdf,inspiring morning with our beautiful grads,train,trust
30496,1024,0x28f6df,of you imrankhanpti the only leader who spea...,train,trust
35798,1024,0x2819f0,mannnn action is so powerful its like getting...,train,trust
...,...,...,...,...,...
1258526,1,0x3796e6,facespics benshapiro id say it looks downright...,train,anger
1319793,1,0x320b35,lost my target gift card while target and i t...,train,anger
1332059,1,0x30b7fa,phillyd can we talk about this new shitty hulu...,train,anger
1339017,1,0x303120,started binge watching freakishonhulu and my l...,train,anger
1405234,1,0x26c8b3,🕘 aug 🇺🇸usd 🇪🇺eur 🇨🇦cad 🇬🇧gbp 🇨🇳cny...,train,anger

In [81]:
anger = sorted_df[sorted_df["emotion"]=="anger"][:39712]
anticipation = sorted_df[sorted_df["emotion"]=="anticipation"][:39712]
disgust = sorted_df[sorted_df["emotion"]=="disgust"][:39712]
fear = sorted_df[sorted_df["emotion"]=="fear"][:39712]
joy = sorted_df[sorted_df["emotion"]=="joy"][:39712]
sadness = sorted_df[sorted_df["emotion"]=="sadness"][:39712]
surprise = sorted_df[sorted_df["emotion"]=="surprise"][:39712]
trust = sorted_df[sorted_df["emotion"]=="trust"][:39712]

In [82]:
pdList = [anger,anticipation,disgust,fear,joy,sadness,surprise,trust]
final_sorted_df = pd.concat(pdList)

In [85]:
final_sorted_df['Category'] = final_sorted_df.emotion.apply(lambda x: categorize_emotions(x))
final_sorted_df.reset_index(inplace=True)
final_sorted_df.drop(["index"],axis=1,inplace=True)

In [86]:
final_sorted_df

,_score,tweet_id,text,identification,emotion,Category
0,1024,0x285746,knowing that a petty little man will put thou...,train,anger,3
1,1024,0x333c83,seeing as i cant do anything might as well go ...,train,anger,3
2,1024,0x3427d2,millions of blue duckbilled balderdash,train,anger,3
3,1024,0x2d3a7c,even tho im and i wont go alone and i have th...,train,anger,3
4,1024,0x29392d,sweating bout booking night wild teepee airbn...,train,anger,3
...,...,...,...,...,...,...
317691,826,0x2542df,wow how do kids look up to ricegum and alissav...,train,trust,2
317692,826,0x2d079a,joeymcintyre for sharing your lives with us ...,train,trust,2
317693,826,0x35c137,henry arrived just in time for happy pride ya...,train,trust,2
317694,826,0x2c56ef,in the midst of despair anxiety war destructio...,train,trust,2
317695,826,0x2535a3,weve more interesting content on the way worki...,train,trust,2

In [87]:
unshuffle_inputs_outputs = final_sorted_df.iloc[:,:].to_numpy()

In [88]:
indices_shuffled = np.arange(unshuffle_inputs_outputs.shape[0])
np.random.shuffle(indices_shuffled)

shuffled_inputs_outputs = unshuffle_inputs_outputs[indices_shuffled]

In [89]:
len(unshuffle_inputs_outputs)

317696

In [90]:
low_emotion_score_df = pd.DataFrame(shuffled_inputs_outputs)
low_emotion_score_df.columns = ['_score', 'tweet_id', 'text', 'identification', 'emotion','Category']
low_emotion_score_df

,_score,tweet_id,text,identification,emotion,Category
0,936,0x357a8c,anyone having trouble watching after trek on ...,train,sadness,8
1,871,0x201a57,really msnbc fallbackfriday ihateeverything,train,disgust,6
2,983,0x29b51f,available for pickup bedspreads and duvet for...,train,joy,7
3,993,0x282f84,lilleevee i know 😇,train,trust,2
4,427,0x2ca0a1,and just when you though it couldnt get any we...,train,surprise,5
...,...,...,...,...,...,...
317691,914,0x311b4d,suffolkvicar suenglandwales enjoy,train,fear,1
317692,958,0x25a1aa,i love you god bless,train,trust,2
317693,751,0x33236d,senjohnmccain disappointed that you would put ...,train,disgust,6
317694,321,0x360316,washingtonpost distractiontrumprussia,train,surprise,5
317695,1016,0x387726,monday heres to a safe and prosperous school ...,train,joy,7

In [91]:
low_emotion_score_df.text = low_emotion_score_df.text.apply(clean)
low_emotion_score_df.iloc[0].text

'anyone having trouble watching after trek  on the west coast isnt it supposed to be after trek aftertrek '

In [92]:
low_emotion_score_df[low_emotion_score_df.text == ""]

Empty DataFrame
Columns: [_score, tweet_id, text, identification, emotion, Category]
Index: []

In [93]:
i = low_emotion_score_df[low_emotion_score_df.text == ""].index
low_emotion_score_df.drop(i, axis = 0, inplace = True)

In [94]:
low_emotion_score_df = low_emotion_score_df.reset_index()
low_emotion_score_df.drop(['index'],axis = 1, inplace = True)

In [95]:
low_emotion_score_df

,_score,tweet_id,text,identification,emotion,Category
0,936,0x357a8c,anyone having trouble watching after trek on ...,train,sadness,8
1,871,0x201a57,really msnbc fallbackfriday ihateeverything,train,disgust,6
2,983,0x29b51f,available for pickup bedspreads and duvet for...,train,joy,7
3,993,0x282f84,lilleevee i know 😇,train,trust,2
4,427,0x2ca0a1,and just when you though it couldnt get any we...,train,surprise,5
...,...,...,...,...,...,...
317691,914,0x311b4d,suffolkvicar suenglandwales enjoy,train,fear,1
317692,958,0x25a1aa,i love you god bless,train,trust,2
317693,751,0x33236d,senjohnmccain disappointed that you would put ...,train,disgust,6
317694,321,0x360316,washingtonpost distractiontrumprussia,train,surprise,5
317695,1016,0x387726,monday heres to a safe and prosperous school ...,train,joy,7

In [96]:
low_emotion_score_df.to_csv("sorted_descending_preprocessed_data.csv",index=False) #this one has the lowest scores for each emotion